<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SerialBootTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <SerialBootTool.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="FlowOfControl" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LogFile_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFile_FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageFile_FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageFile_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceFamily" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="NoResetVectorVerify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EncryptFile_FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptFile_DirectoryCryptFile_Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptFile_AutoDetect" serializeAs="String">
                <value />
            </setting>
        </SerialBootTool.Properties.Settings>
    </userSettings>
</configuration>
